label.link {
    display: block;
    float: left;
    padding: 3px 12px;
    padding-right: 12px;
    background: #999;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-image: none;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #fff;
    border-radius: 15px;
}

.prefix {
    margin-right: 1em;
}

.suffix {
    margin-left: 1em;
}

.criterion {
    margin-bottom: -0.5em;
}
